body{
  background-color:antiquewhite ;
  min-height: 100vh;
  display: flex;
    flex-direction: column;
}

.title{
      border-style: inherit;
  border-color: rgb(32, 5, 5) 2px;
}
.link{
padding: 10px 40px;
  text-decoration: none;
  color: black;

  text-transform: uppercase;
}

.link:hover {
  background: rgb(61, 7, 7);
  color: #fff; 
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1464206704386-46415fa8107c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80) center center no-repeat;
  background-size: cover;
 }

h1{
  font-family: 'Tangerine', cursive;
  font-size: 60px;
  margin-left: 25px;
  justify-content: center;
  color: antiquewhite;
  
}
h2{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;

}
nav{
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: Roboto;
  font-weight: bolder;
}
.history-item{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  
}
.shopPage {
  display: flex;
  justify-content: center;
  flex-direction: column; 
  } 
.cont {
  display: flex;
  justify-content: center;
 }
.products{
  /* margin-top: 10px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  }
  .product-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .history-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .history-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
.product-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
  font-family: Roboto;
  width: 400px;
}


.hr{
  color: black 2px;
}

p{
  width: 40%;
  align-self: center;
  text-align: center;
}

.btn{
  background: rgb(61, 7, 7);
  padding: 15px;
  margin: 10px;
  font-size: 20px;
  background-color: antiquewhite;
  border: none;
}

.change { 
  background-color: black;
  color: white;
  padding: 10px;
  margin: 20px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-size: 16px;
  }

.home{
  display: flex;
  justify-content: center;
  padding: 150px;
}


#myVideo{
  width:100%;
  height:400px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.row{
  background-color:antiquewhite ;
}
#items{
  background-color:antiquewhite ;
}

.text-input {
  background-color: #faf1e6;
  border: none;
  padding: 12px 20px;
}
.sendemail {
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  margin-top: auto;
}

@media all and (max-width: 800px) {
.sendemail {
  margin-left: 55px;
}
}